body {
  background-color: #141519;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

p {
  font-size: 15px;
  color: #7C8798;
  padding-bottom: 10px;
  line-height: 1.8em;
}

h2, a {
  color: #fff;
}

.card {
  max-width: 425px;
  background: rgb(33,40,50);
  background: linear-gradient(180deg, rgba(33,40,50,1) 0%, rgba(23,29,39,1) 74%);
  border-radius: 5%;
}

.container {
  padding: 2.5em;
}

#thankYou .container {
  text-align: center;
}

.circle {
  border-radius: 50%;
  background-color:  hsl(213, 19%, 18%);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ratingButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;

}

.ratingButtons .circle {
  cursor: pointer;
  color: #7C8798;
}

.ratingButtons .circle:hover {
  background-color: #FB7413;
  color: #fff;
}

.ratingButtons .selected {
  background-color: #959EAC;
  color: #fff;
}

#submit {
  display: block;
  text-align: center;
  background: #FB7413;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
}

#submit:hover {
  color: #FB7413;
  background-color: #fff;
}

.selection p {
  color: #FB7413;
  background-color: hsl(213, 19%, 18%);
  width: fit-content;
  margin: 2em auto;
  padding: 5px 20px;
  border-radius: 30px;
  opacity: 0.75;
  letter-spacing: .5px;
}

#thankYou {
  display: none;
}
